/{
    

    aliases{
        app-led = &orange_led_3;
    };

    chosen{
            zephyr,console =  &cdc_acm_uart0;
    };
    /* 
    Modifying the chosen node zephyr,console to USB instead of UART2
    */ 
    sensor: temp_sensor{
        compatible = "our,driver";
        // calibration = <8>;
        status = "okay";
    };
};

/*
    so the hardware driver/peripheral for  USB device has a chilsd driver cdc_acm_uart0
    which is compatible with zephyr,cdc-acm-uart0
    --------------------------------------------
    USB OTG FS refers to the physical hardware peripheral on the STM32F4 (the controller),
    while USB CDC ACM refers to the communication protocol (the software device class) 
    running through that hardware.

     1. USB OTG FS (Hardware / Peripheral)OTG: Stands for On-The-Go. 
     It means the port can act as either a Device (like a mouse) or a Host (like a computer reading a flash drive).
     FS: Stands for Full Speed, meaning it runs at 12 Mbps.
     Role on STM32F4 Discovery: The STM32F4 Discovery board has a micro-AB USB port connected to this specific OTG FS peripheral, 
     and can be used in Device or Host mode depending on your firmware.

     2. USB CDC ACM (Software / Communication Class)
     CDC: Stands for Communication Device Class.
     ACM: Stands for Abstract Control Model.
     Role on STM32F4 Discovery: This is the USB protocol that makes the microcontroller emulate a traditional 
     RS-232 Virtual COM Port (VCP) when connected to a PC. Your computer sees it as a serial port (e.g., COM3 or /dev/ttyACM0) 
     without needing custom drivers
*/
&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_UART0";
    };
};